:root { 
  --chicago: #5b5b5b;
  --chicago-2: #5c5c5c33;
  --mine-shaft: #333333;
  --storm-dust: #5c6366;
  --storm-dust-2: #5d6466;
  --vista-white: #fcfcf7;
  --web-block-gradient: #000000;
  --white: #ffffff;
 
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 12px;
  --font-size-xl: 24px;
  --font-size-xxl: 28px;
  --font-size-xxxl: 32px;
  --font-size-xxxxl: 128px;
 
  --font-family-cormorant_garamond: "Cormorant Garamond", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-pinyon_script: "Pinyon Script", Helvetica;
}
.cormorantgaramond-semi-bold-black-32px {
  color: var(--web-block-gradient);
  font-family: var(--font-family-cormorant_garamond);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.cormorantgaramond-semi-bold-storm-dust-16px {
  color: var(--storm-dust);
  font-family: var(--font-family-cormorant_garamond);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-storm-dust-12px {
  color: var(--storm-dust-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.cormorantgaramond-semi-bold-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: var(--font-family-cormorant_garamond);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.cormorantgaramond-bold-chicago-16px {
  color: var(--chicago);
  font-family: var(--font-family-cormorant_garamond);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 700;
}

.inter-normal-white-12px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.cormorantgaramond-bold-white-28px {
  color: var(--white);
  font-family: var(--font-family-cormorant_garamond);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.cormorantgaramond-semi-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-cormorant_garamond);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-chicago-12px {
  color: var(--chicago);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.cormorantgaramond-semi-bold-mine-shaft-24px {
  color: var(--mine-shaft);
  font-family: var(--font-family-cormorant_garamond);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.pinyonscript-normal-chicago-32px {
  color: var(--chicago);
  font-family: var(--font-family-pinyon_script);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.pinyonscript-normal-chicago-128px {
  color: var(--chicago);
  font-family: var(--font-family-pinyon_script);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-mine-shaft-12px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.cormorantgaramond-bold-mine-shaft-28px {
  color: var(--mine-shaft);
  font-family: var(--font-family-cormorant_garamond);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.cormorantgaramond-semi-bold-mine-shaft-18px {
  color: var(--mine-shaft);
  font-family: var(--font-family-cormorant_garamond);
  font-size: var(--font-size-l);
  font-style: italic;
  font-weight: 600;
}
